*.swp
._*
.bin
.sass-cache
*.css.map
node_modules/
npm-debug.log
ehthumbs.db
Thumbs.db
.DS_Store
*.log
*.sql
*.sqlite

.env

/notes

/data/*
!/data/.gitkeep

/logs/*
!/logs/.gitkeep

/theme/assets/dist
