html {
  font-size: (10px/ 16px * 100%);
}

body {
  color: $text-color;
  font-family: $gothic;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.45;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  &,
  &:visited {
    color: $text-color;
    outline: none;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}
