{
  "extends": [
    "stylelint-config-standard",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": ["always", {
      "ignore": [
        "after-comment",
        "blockless-after-same-name-blockless",
        "first-nested"
      ],
      "ignoreAtRules": ["else"]
    }],
    "indentation": 2,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "length-zero-no-unit": true,
    "number-leading-zero": "never",
    "value-list-comma-space-after": "always-single-line"
  }
}
